.column {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    &_title {
        h4 {
            font-size: 2em;
            background-color: $title-color;
            text-align: center;
            color: $main-color;
        }
    }

    &_photo {
        height: 350px;

        &_img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 5px rgba(27,27,27,0.5) solid;
        }

        &_block {
            margin: auto;
            width: 50%;
            padding-top:20px;
        }
    }

    &_description {
        width: 95%;
        margin: auto;
    }
}
#column{
    &_hobby{
        margin-top:auto;
        &_row{
            display:flex;
            flex-direction:row;
            justify-content:space-around;
        }
    }
}
.hobby{

    &_img{
       display:flex;
       justify-content:center;
       align-items:center;
        border: 3px solid $title-color;
        border-radius:50%;
        height:90px;
        width:90px;
        font-size:3em;
        color:$title-color;
        
    }
}
#main {
    &_content {
        width: 65%;
        padding-bottom: 20px;
    }

    &_header {
        &_title {
            &_name {
                color: $main-color;
            }

            &_description {
                font-size: 2.5em;
            }
        }
    }
}

.section {
    &_date {
        width: 25%;
    }

    &_title {
        &_img {
            height: 1em;
            margin-right: 10px;
        }
    }

    &_content {
        width: 75%;

        &_title {
            font-weight: bold;
        }

        &_secondary {
            line-height: 2em;
            vertical-align: center;
        }
}

}
#reference_people {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
