@media screen and (max-width:1000px) {
    body{
        display: flex;
        flex-direction: column-reverse;
    }

    .column {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        &_section {
            width: 33.33333333333333333333333333333333333%;
        }

        &_photo {
            height: auto;
            padding-top: 20px;
            width: 100%;

            &_block {
                width: 20%;
                height: auto;
            }
        }

    }

    #main_content {
        width: 100%;
    }
#column {
    &_photo {
        width: 100%;
    }

    &_hobby {
        margin: 0px;
    }
}
.hobby {
    display:flex;
    justify-content:center;
    &_img {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid $title-color;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 1.5em;
        color: $title-color;
    }
}}