body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Cabin-Regular", sans-serif;
}

.page {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  border: 1px grey solid;
}

.column {
  width: 35%;
  background-color: #03A9F4;
}
.column_section {
  width: 100%;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.main_content {
  width: 65%;
}

header {
  height: 350px;
}

h1 {
  font-size: 3.5em;
}

.section_title p {
  font-size: 3em;
  border-bottom: #03A9F4 2px solid;
}

.column {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.column_title p {
  font-size: 2em;
  background-color: #808080;
  text-align: center;
  color: #03A9F4;
}
.column_photo {
  height: 350px;
  display: flex;
}
.column_photo_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px rgba(27, 27, 27, 0.5) solid;
}
.column_photo_block {
  margin: auto;
  width: 50%;
  align-self: center;
}
.column_description {
  width: 95%;
  margin: auto;
}

#column_hobby {
  margin-top: auto;
}
#column_hobby_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hobby {
  width: 25%;
}
.hobby_img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #808080;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 3em;
  color: #808080;
}

#main_content {
  width: 65%;
  padding-bottom: 20px;
}
#main_header_title_name {
  color: #03A9F4;
}
#main_header_title_description {
  font-size: 2.5em;
}

.section_date {
  width: 25%;
}
.section_title_img {
  height: 1em;
  margin-right: 10px;
}
.section_content {
  width: 75%;
}
.section_content_title {
  font-weight: bold;
}
.section_content_secondary {
  line-height: 2em;
  vertical-align: center;
}

#reference_people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.underline {
  border-bottom: 2px #03A9F4 solid;
}

.list {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #03A9F4;
  display: inline-block;
  margin: 0.5em;
  position: relative;
}
.list_main::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 1em;
  height: 1em;
  border: 2px #03A9F4 solid;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }

  .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column_section {
    width: 33.3333333333%;
  }
  .column_photo {
    height: auto;
    padding-top: 20px;
    width: 100%;
  }
  .column_photo_block {
    width: 20%;
    height: auto;
  }

  #main_content {
    width: 100%;
  }

  #column_photo {
    width: 100%;
  }
  #column_hobby {
    margin: 0px;
  }

  .hobby {
    display: flex;
    justify-content: center;
  }
  .hobby_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #808080;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    color: #808080;
  }
}

/*# sourceMappingURL=style.css.map */
